spring:
#  datasource:
#    url: jdbc:h2:tcp://localhost/~/jpashop
#    username: sa
#    password:
#    driver-class-name: org.h2.Driver
  datasource:
    hikari:
#      jdbc-url: jdbc:h2:tcp://localhost/~/jpashop
      jdbc-url: jdbc:h2:mem:test
      driver-class-name: org.h2.Driver
      username: sa
      password:

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
  #      show-sql: true
        format_sql: true
        default_batch_fetch_size : 100

logging:
  level:
    org:
      hibernate:
        SQL: debug
#        tpye: trace

